<br>
<div class="container">
  <div class="main-body">
      <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <% if @profile.user.avatar.persisted? %>
                  <img src="<%= url_for(current_user.avatar) %>" alt="<%= current_user.username %>" class="rounded-circle" width="150">
                <% else %>
                  <img src="/avatar_default.png" alt="<%= current_user.username %>" class="rounded-circle" width="150">
                <% end %>
                <div class="mt-3">
                  <h4><%= @profile.user.username %></h4>
                  <% unless policy(@profile).buttons_other_profile? %>
                    <button class="btn btn-primary" disabled>Follow</button>
                    <button class="btn btn-outline-primary" disabled>Message</button>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <h6 class="mb-0">Drones: </h6>
                <div id="drone">
                  <span class="text-secondary"><%= count_drone_user %></span>
                </div
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <h6 class="mb-0">Comments: </h6>
                <div id="comment">
                  <span class="text-secondary comment"><%= count_comment_user %></span>
              </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-body">
              <% if policy(@profile).show? %>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <%= @profile.user.email %>
                </div>
              </div>
              <hr>
              <% end %>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <%= @profile.name %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">About me</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <%= @profile.about %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">City</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <%= @profile.city %>
                </div>
              </div>
              <% if policy(@profile).edit? %>
              <hr>
              <div class="row">
                <div class="col-sm-12">
                  <%= link_to 'Edit information', edit_profile_path, class: "btn btn-info btn-sm" %>
                  <%= link_to 'Settings', edit_user_registration_path(current_user), class: "btn btn-info btn-sm" %>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
