<div class="component-errors-update">
  <%= render 'shared/errors', resource: @component %>
</div>
<%= @drone.components.find_each(order: :asc) do |component| %>
  <%= form_with model: component, local: false, class: 'hidden', html: { id: "edit-component-link-#{component.id}" } do |f| %>
    <div class="row g-3">
      <div class="col-auto">
        <%= f.collection_select(:component_category_id, ComponentCategory.all, :id, :title,
                               {prompt: "Select One"}, class: "form-select", id: "autoSizingSelect") %>
      </div>
      <div class="col-sm-5">
        <%= f.text_field :title, class: "form-control", placeholder: "Name component" %>
      </div>
      <div class="col-sm">
        <%= f.text_field :url, class: "form-control", placeholder: "Url component" %>
      </div>
      <div class="col-sm">
        <%= f.text_field :price, class: "form-control", placeholder: "Price component" %>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Update component</button>
      </div>
    </div>
  <% end %>
<% end %>
