<div id="<%= dom_id(comment) %>">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-start align-items-center">
          <img class="rounded-circle shadow-1-strong me-3"
            src="/avatar.webp" alt="avatar" width="60"
            height="60" />
          <div>
            <h6 class="fw-bold text-primary mb-1"><%= comment.user.username %></h6>
            <p class="text-muted small mb-0">
              Written - <%= comment.created_at.strftime("%B %d %Y, %k:%M") %>, update:
              <%= comment.updated_at.strftime("%B %d %Y, %k:%M:%S") %>
            </p>
          </div>
        </div>
        <p class="mt-1">
          <%= comment.body %>
        </p>

      </div>
    </div>
  <br>
  </div>