<br>
<div class="container">
  <div class="main-body">
      <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
          <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <h6 class="mb-0">All builds: </h6>
                <div id="drone">
                  <span class="text-secondary"><%= all_count_drone_admin %></span>
                </div
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <h6 class="mb-0">All comments: </h6>
                <div id="comment">
                  <span class="text-secondary comment"><%= all_count_comment_admin %></span>
              </div>
              </li>
            </ul>
          </div>
          <p>
          <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <h2 class="display-6">Create</h2>
                <span class="text-secondary"></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <h6 class="mb-0">Drone category component: </h6>
                <div id="comment">
                  <span class="text-secondary comment"><a href="<%= new_component_category_path %>">create</a></span>
              </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <h6 class="mb-0">Category: </h6>
                <div id="create_category">
                  <span class="text-secondary comment"><a href="<%= new_category_path %>">create</a></span>
              </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <h2 class="display-6">Last drones</h1>
                <div class="col-sm-12">
                  <%= render 'list_drones' %>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <h2 class="display-6">Last comments</h1>
                <div class="col-sm-12">
                  <%= render 'list_comments' %>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <h2 class="display-6">Components</h1>
                <div class="col-sm-12">
                  <%= render 'list_component_category' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



