<% if @drone.foto.attached? %>
  <header class="masthead" style="background-image: url('<%= url_for(@drone.foto) %>')">
<% else %>
  <header class="masthead" style="background-image: url('/drone_default.jpg')">
<% end %>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1><%= @drone.title %></h1>
          <span class="meta">Posted by
            <a href="#">Author</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post_content">
        <div class="drone-errors">
          <%= render 'shared/errors', resource: @drone %>
        </div>
        <hr>
        <%= render 'content' %>
        Gallery:
        <% if @drone.gallerys.attached? %>
          <% @drone.gallerys.each do |pic| %>
            <div class="col-sm-6 col-md-4">
              <div data-controller="lightbox" class="images">
              <%= link_to url_for(pic), 'data-toggle': 'lightbox' do %>
                  <%= image_tag url_for(pic) %>
              <% end %>
            </div>
            </div>
          <% end %>
        <% end %>
        <br>
        <div class="clearfix">
          <div><a class="btn btn-primary" href="#" title="#">&larr; Previous Post</a></div>
          <div><a class="btn btn-primary" href="#" title="#">Next Post &rarr;</a></div>
        <hr>
        </div>
        <div class="clearfix">
          <% if current_user&.author?(@drone) %>
            <div><%= button_to 'Delete build', drone_path(@drone), method: :delete, form: { data: { turbo_method: "delete", turbo_confirm: "Are you sure?" } }, class: 'btn btn-danger' %></div> 
            <div><%= link_to 'Edit', edit_drone_path(@drone), class: 'btn btn-info edit-drone-link' %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


