<div class="drone-errors">
  <%= render 'shared/errors', resource: @drone %>
</div>
<% if @drone.foto.attached? %>
  <header class="masthead" style="background-image: url('<%= url_for(@drone.foto) %>')">
<% else %>
  <header class="masthead" style="background-image: url('/drone_default.jpg')">
<% end %>
<div class="row">
  <div class="col-lg-12 col-md-10 mx-auto">
    <div class="post-heading">
      <h1><%= @drone.title %></h1>
      <span class="meta">Posted by
        <a href="#">Author</a><br>
        Category: <%= @category_cat.title %>
      </span>
    </div>
  </div>
</div>
</header>
<body>
  <hr>
  <div class="float-start pt-1">
    <td><%= render partial: 'drones/upvote_link' %></td>
  </div>
  <div class="float-end pt-1">
    <% if current_user&.author?(@drone) %>
      <%= link_to 'Edit', edit_drone_path(@drone), class: 'btn btn-info' %>
      <%= link_to 'Delete build', drone_path(@drone), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    <% end %>
  </div>
  <br><br>
  <div class="content">
    <%= render 'content' %>
  </div>
  <br>
  Photos:
  <br>
  <%= render 'gallery' %>
  <br>
  <div id="comments" class="mb-3">
    <%= render 'comments/content' %>
  </div>
  <div id="form_comment" class="mb-3">
    <%= render 'comments/form' %>
  </div>
</body>
