<%= render @drone %>
<h2 class="display-6">Description</h1>
<div class="content">
  <%= render 'content' %>
</div>
<br>
<hr>
<h2 class="display-6">Photos</h1>
<br>
  <%= render 'galleries/gallery' %>
<br>
<hr>
<div class="components">
  <h2 class="display-6">Components</h1>
  <div id="components" class="mb-3">
    <%= render 'components/component' %>
  </div>
<% if policy(@drone).update? %>
  <div id="form_components" class="mb-3">
    <%= render 'components/form' %>
  </div>
<% end %>
</div>
<hr>
<h2 class="display-6">Comments</h1>
<div id="comments" class="mb-3">
  <%= render 'comments/comment' %>
</div>
<div id="form_comment" class="mb-3">
  <%= render 'comments/form' %>
</div>
