<%= render @drone %>

<div class="content">
  <%= render 'content' %>
</div>
<br>
Photos:
<br>
  <%= render 'gallery' %>
<br>

<div id="components" class="mb-3">
  <%= render 'components/component' %>
</div>
<div id="form_components" class="mb-3">
  <%= render 'components/form' %>
</div>

<div id="comments" class="mb-3">
  <%= render 'comments/comment' %>
</div>
<div id="form_comment" class="mb-3">
  <%= render 'comments/form' %>
</div>
