<br>
<div class="container h-70">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
      <div class="card" style="border-radius: 15px;">
        <div class="card-body p-5">
          <h2 class="text-uppercase text-center mb-5">Log in</h2>

            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="form-outline mb-4">
              <%= f.text_field :login, class: "form-control form-control-lg", id: "login", autofocus: true, autocomplete: "email or username" %>
              <label class="form-label" for="login">Your Email or Username</label>
            </div>

            <div class="form-outline mb-4 password_field">
              <div class="password_field">
                <%= f.password_field :password, class: "form-control form-control-lg", id: "password" %>
                <i class="fa-regular fa-eye" id="password_icon"></i>
              </div>
              <label class="form-label" for="password">Password</label>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="form-check d-flex justify-content-center mb-5">
                <input class="form-check-input me-2" type="checkbox" value="" id="remember" />
                <label class="form-check-label" for="remember">Remember me</label>
              </div>
            <% end %>

            <div class="d-flex justify-content-center">
              <%= f.submit "Log in", class: 'btn btn-info btn-lg' %>
            </div>  
              <%= render "devise/shared/links" %> 
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>